@use "../global" as g;

//トップページセッションごとのView moreリンク
.c-top-more-link {
  display: flex;
  gap: g.rem(20);
  align-items: center;

  @include g.hover {
    .c-top-more-link__arrow {
      width: g.rem(141.5);
      margin-right: g.rem(-47);

      @include g.mq("sp") {
        width: g.rem(94.5);
        margin-right: g.rem(-30);
      }
    }
  }

  @include g.mq("sp") {
    gap: g.rem(12);
    margin-top: g.rem(32);
    height: g.rem(40);
    justify-content: end;
  }
}

.c-top-more-link__text {
  display: inline-block;
  font-size: g.rem(32);
  color: g.$black;

  @include g.mq("sp") {
    font-size: g.rem(20);
  }
}

.c-top-more-link__text--white {
  @extend .c-top-more-link__text;
  color: g.$white;
}

.c-top-more-link__text--main {
  @extend .c-top-more-link__text;
  color: g.$main-color;
}

.c-top-more-link__icon {
  padding-right: g.rem(25.5);
  position: relative;

  @include g.mq("sp") {
    padding-right: g.rem(20);
  }
}

.c-top-more-link__circle {
  width: g.rem(51);
  height: g.rem(51);
  border-radius: 50%;
  background-color: g.$accent-color;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include g.mq("sp") {
    width: g.rem(40);
    height: g.rem(40);
  }
}

.c-top-more-link__circle--border {
  @extend .c-top-more-link__circle;
  background-color: transparent;
  border: 3px solid g.$accent-color;
}

.c-top-more-link__arrow {
  display: inline-block;
  width: g.rem(94.5);
  height: 2px;
  background-color: g.$black;
  vertical-align: middle;
  margin-top: g.rem(5);
  padding-right: g.rem(25.5);
  position: relative;
  transition: all 0.4s;

  @include g.mq("sp") {
    width: g.rem(64.5);
  }

  &::before {
    content: "";
    width: g.rem(12);
    height: g.rem(12);
    border-width: 0 3px 0 0;
    border-style: solid;
    border-color: g.$black;
    position: absolute;
    right: g.rem(5);
    bottom: 0;
    transform: skewX(50deg);

    @include g.mq("sp") {
      width: g.rem(10);
      height: g.rem(10);
      right: g.rem(4);
    }
  }
}

.c-top-more-link__arrow--white {
  @extend .c-top-more-link__arrow;
  background-color: g.$white;

  &::before {
    border-color: g.$white;
  }
}

.c-top-more-link__arrow--main {
  @extend .c-top-more-link__arrow;
  background-color: g.$main-color;

  &::before {
    border-color: g.$main-color;
  }
}
