@use "../global" as g;

.p-top-service {
  padding-top: g.rem(120);
  padding-bottom: g.rem(224);
  position: relative;

  @include g.mq('sp'){
    padding-top: g.rem(60);
    padding-bottom: g.rem(100);
  }

  &::before {
    // slope background
    content: "";
    display: block;
    width: 100%;
    height: 42%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #EDF3F8;
    transform: skewY(10deg);
    transform-origin: bottom right;
    z-index: -2;

    @include g.mq('sp'){
      height: 82%;
    }
  }
}

.p-top-service__items {
  display: flex;
  justify-content: space-between;
  margin-top: g.rem(45);

  @include g.mq('sp'){
    flex-direction: column;
    justify-content: start;
    gap: g.rem(32);
    margin-top: g.rem(25);
  }
}

.p-top-service__item {
  width: 29.09%;
  counter-increment: num;

  @include g.mq('sp'){
    width: 95.52%;
    margin-left: auto;
  }

  &:nth-child(2) {
    margin-top: g.rem(60);

    @include g.mq('sp'){
      margin-top: 0;
    }
  }

  &:nth-child(3) {
    margin-top: g.rem(120);

    @include g.mq('sp'){
      margin-top: 0;
    }
  }
}

.p-top-service__item-num {
  font-size: g.rem(100);
  color: g.$white;
  text-align: right;
  line-height: 1;
  position: relative;

  &::before {
    content: "0"counter(num);
    color: g.$main-color;
    position: absolute;
    top: -4px;
    right: 4px;
  }
}

.p-top-service__item-img {
  width: 100%;
  margin-top: g.rem(-60);

  img {
    width: 100%;
  }
}

.p-top-service__item-head {
  position: relative;
}

.p-top-service__item-title {
  color: g.$main-color;
  font-size: g.rem(28);
  font-weight: 700;
  position: absolute;
  left: g.rem(-32);
  bottom: g.rem(30);

  @include g.mq('sp'){
    left: g.rem(-16);
  }

  span {
    background-color: g.$white;
  }
}

.p-top-service__item-body {
  margin-top: g.rem(14);
}